body{
    margin: 0px;
    padding: 0px;
    
}

a{
    color: white;
}

.card-container{
    width: 700px;
    height:400px;
    background: #fff;
    border-radius:6px;
    margin: auto;
    top:50%;
    left: 50%;
    margin-top: 10%;
    box-shadow: 0px 1px 10px 1px #000;
}

.propic{
    margin: 10px;
}

.card{
    margin: auto;
    margin-top: 20px;
    height: 500px;
}

.card-body img{
    float: left;
    margin-right: 20px;
}

.card-body p{
    font-size: 1.5em;
    
}

#slide{
    margin-top: 20px;
}

.carousel-inner img{
    height: 300px;
    
}

